#app {
  min-height: 736px;
}

.form {
  position: relative;
  display: table;
  width: 350px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%
}

.footer {
  background-color: #14A989 !important;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-text {

  color: #eeeeee;

}

.footer h2 {

  color: #ffffff;

}

.panel-body {
  text-align: center;
}

.nav-item {
  color: white;
}

a {
  color: #14A989;
}

textarea {
  resize: none;
}

.thumbnail {
  border: 2px solid darken($body-bg, 5%);
}

.progress-bar {

}

.tab-content {
  margin-top: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $navbar-default-bg;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: $navbar-default-bg;
}

.pagination > li > a,
.pagination > li > span {
  color: $navbar-default-bg;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-bg;
}


.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #12735e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}

//Algolia Search Autocomplete

.algolia-autocomplete {
  width: 100%;
  display: inline-block!important;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

icon-submit-button{
    border:0;
    background:none;
    /*And other css to remove the default button property */
}